.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0 auto; /* Center the container */
    max-width: 950px; /* Set a maximum width for the container */
    padding: 20px; /* Add some padding for spacing */
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap to a new line */
  }
  
  .skills-list li {
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 12px 22px;
    margin: 15px 10px; /* Adjust the spacing between list items */
    border-radius: 5px;
  }
  
  /* Media query for responsive design */

  @media (min-width: 768px) and (max-width: 920px) {
  
    .resp
    {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    .skills-list {
      justify-content: center; /* Center items in the vertical layout */
      align-items: center;
    }
    
    .skills-list li {
      margin: 5px; /* Adjust margin for vertical layout */
    }

    .resp
    {
      display: none;
    }
  }

  @media (max-width: 510px) {
    .skills-list {
      justify-content: center; /* Center items in the vertical layout */
      align-items: center;
    }
    
    .skills-list li {
      margin: 6px; /* Adjust margin for vertical layout */
      font-size: 16px;
      padding: 9px 17px;
    }
    .resp
    {
      display: none;
    }
  }

  @media (max-width: 360px) {
    .skills-list {
      justify-content: center; /* Center items in the vertical layout */
      align-items: center;
    }
    
    .skills-list li {
      margin: 5px; /* Adjust margin for vertical layout */
      font-size: 10px;
      padding: 8px 14px;
    }
    .resp
    {
      display: none;
    }
  }
  